# Ignore compiled output
*.o
*.a
*.s

# Ignore vscode settings
.vscode/

# Ignore intellij files
.idea
out/
*.iml

# Ignore executable programs
moj_program
fork
clone
program
pthreads_detach_kill
zadanie2
zadanie3
pub_sym_1
pub_sym_2